.login-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

a {
  color: #FFFF
}