<app-navigation></app-navigation>

<div class="profile">
  <mat-card>
    <mat-card-content class="profile-content">
      <div class="profile-item">
        <strong>Username:</strong> {{ user.username }}
      </div>
      <div class="profile-item">
        <strong>First Name:</strong> {{ user.firstName }}
      </div>
      <div class="profile-item">
        <strong>Last Name:</strong> {{ user.lastName }}
      </div>
      <div class="profile-item">
        <strong>Email Address:</strong> {{ user.email }}
      </div>
      <div class="profile-item">
        <strong>Display Name:</strong> 
        <input matInput type="text" [(ngModel)]="user.displayName" placeholder="Enter display name">
        <button *ngIf="user.displayName" matSuffix mat-icon-button (click)="onDisplayNameEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <strong>Description:</strong> 
        <input matInput [(ngModel)]="user.description" placeholder="Enter description">
        <button *ngIf="user.displayName" matSuffix mat-icon-button (click)="onDescriptionEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <mat-button-toggle style="font-size: 12px; height: 33px; width: 100%; align-items: center;" (click)="toggleChangePassword()">Change Password</mat-button-toggle>
      </div>
      <form *ngIf="showChangePassword" class="profile-content" style="padding-left: 40px;">
        <div class="profile-item">
          <strong>Current Password:</strong>
          <input matInput [formControl]="currentPassword" type="password" placeholder="Enter current password"
            autocomplete="current-password">
          <mat-error *ngIf="currentPassword.hasError('required') && currentPassword.touched">
            Enter your current password
          </mat-error>
        </div>
        <div class="profile-item">
          <strong>New Password:</strong>
          <input matInput [formControl]="newPassword" type="password" placeholder="Enter new password" 
            autocomplete="new-password">
          <mat-error *ngIf="newPassword.hasError('required') && newPassword.touched">
            Enter your new password
          </mat-error>
          <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
            Enter strong password
          </mat-error>
        </div>
        <div class="profile-item">
          <strong>Repeat New Password:</strong>
          <input matInput [formControl]="repeatNewPassword" type="password" placeholder="Repeat new password" 
            autocomplete="new-password">
          <mat-error *ngIf="repeatNewPassword.hasError('confirmPasswordMismatch')">
            Passwords do not match
          </mat-error>
        </div>
        <div class="profile-item">
          <button mat-flat-button color="primary" (click)="changePassword()">Update Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>