<app-navigation></app-navigation>

<div class="profile">
  <mat-card>
    <mat-card-content class="profile-content">
      <div class="profile-item">
        <strong>Username:</strong> {{ user.username }}
      </div>
      <div class="profile-item">
        <strong>First Name:</strong> {{ user.firstName }}
      </div>
      <div class="profile-item">
        <strong>Last Name:</strong> {{ user.lastName }}
      </div>
      <div class="profile-item">
        <strong>Email Address:</strong> {{ user.email }}
      </div>
      <div class="profile-item" *ngIf="user.displayName">
        <mat-form-field>
          <mat-label>Display Name:</mat-label> 
          <input matInput type="text" [(ngModel)]="user.displayName" placeholder="Enter display name">
        </mat-form-field>
        <button *ngIf="user.displayName" matTooltip="Change display name" matSuffix mat-icon-button (click)="onDisplayNameEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <mat-form-field>
          <mat-label>Description:</mat-label> 
          <input matInput [(ngModel)]="user.description" placeholder="Enter description">
        </mat-form-field>
        <button *ngIf="user.description" matTooltip="Change description" matSuffix mat-icon-button (click)="onDescriptionEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <mat-button-toggle style="height: 33px; width: 100%; align-items: center;" (click)="toggleChangePassword()">Change Password</mat-button-toggle>
      </div>
      <form *ngIf="showChangePassword" class="profile-content">
        <div class="profile-item">
          <mat-form-field>
            <mat-label>Current Password:</mat-label>
            <input matInput [formControl]="currentPassword" type="password" autocomplete="current-password">
            <mat-error *ngIf="currentPassword.hasError('required') && currentPassword.touched">
              Enter your current password
            </mat-error>
          </mat-form-field>
        </div>
        <div class="profile-item">
          <mat-form-field>
            <mat-label>New Password:</mat-label>
            <input matInput [formControl]="newPassword" type="password" autocomplete="new-password">
            <mat-error *ngIf="newPassword.hasError('required') && newPassword.touched">
              Enter your new password
            </mat-error>
            <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
              Enter strong password
            </mat-error>
          </mat-form-field>
        </div>
        <div class="profile-item">
          <mat-form-field>
            <mat-label>Repeat New Password:</mat-label>
            <input matInput [formControl]="repeatNewPassword" type="password" autocomplete="new-password">
            <mat-error *ngIf="repeatNewPassword.hasError('confirmPasswordMismatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div class="profile-item">
          <button mat-flat-button color="primary" (click)="changePassword()">Update Password</button>
        </div>
      </form>
      
      <strong>My groups:</strong>
      <div *ngIf="user.groups.length < 1">You have not joined any groups yet</div>
      <mat-card class="group-card" *ngFor="let group of user.groups">
        <mat-card-content class="group-card-content">
          <div class="group-card-item">
            <a class="group-name" [routerLink]="['/groups', group.id]">
              {{ group.name }}
            </a>
          </div>
          <div class="group-card-item">
            {{ group.description }}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>