.profile {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.mat-card {
  min-width: 450px;
  margin: 15px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-item {
  flex: 1;
}

.mat-input {
  max-width: 200px;
}

.mat-button {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.group-card {
  margin: 2px;
  background-color: #5c5c5c;
}

.group-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-card-item {
  text-align: center;
  margin: 5px;
}

.group-name {
  font-size: 18px;
  text-decoration: none;
  color: #FFFF;
}