<nav *ngIf="routes.length > 0">
  <mat-nav-list *ngLet="{ isLogged: isLogged$ | async } as vm">
    <div class="container">
      <ng-container *ngFor="let route of routes">
        <a
          class="link"
          mat-list-item
          [matTooltip]="route.tooltip"
          *ngIf="!route.isDialog; else dialogButton"
          [routerLink]="route.path"
          routerLinkActive="nav-active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>{{ route.icon }}</mat-icon>
        </a>
        <ng-template #dialogButton>
          <a
            class="link"
            mat-list-item
            [matTooltip]="route.tooltip"
            (click)="openDialog()"
          >
            <mat-icon>{{ route.icon }}</mat-icon>
          </a>
        </ng-template>
      </ng-container>
      <div>
        <button style="margin-left: 20px;" type="button" mat-flat-button color="primary" (click)="logout()">Log out</button>
      </div>
    </div>
  </mat-nav-list>
</nav>